In [1]:
import pandas as pd
import numpy as np
import json

# Convert to CSV

In [19]:
with open("/Users/wenzhaoxu/Developer/telegramChat/Full Data/DataExport_17_05_2019/result.json", "r") as f:
    data = json.load(f)

In [20]:
chatHistory = data["chats"]["list"][0]["messages"]

In [21]:
df = pd.DataFrame(chatHistory)

In [22]:
df.shape

(204525, 29)

In [23]:
df.columns

Index(['action', 'actor', 'actor_id', 'date', 'discard_reason',
       'duration_seconds', 'edited', 'file', 'forwarded_from', 'from',
       'from_id', 'game_description', 'game_link', 'game_message_id',
       'game_title', 'height', 'id', 'location_information', 'media_type',
       'mime_type', 'photo', 'reply_to_message_id', 'score', 'sticker_emoji',
       'text', 'thumbnail', 'type', 'via_bot', 'width'],
      dtype='object')

In [84]:
df.to_csv("fullData.csv", index=False)
df.tail(20000).to_csv("smallData.csv", index=False)

# Explore data

In [79]:
df[~pd.isna(df["action"])].tail(1) # Action, actor, actor_id are special actions in telegram

,action,actor,actor_id,date,discard_reason,duration_seconds,edited,file,forwarded_from,from,...,mime_type,photo,reply_to_message_id,score,sticker_emoji,text,thumbnail,type,via_bot,width
140914,phone_call,Vincent Xu,201564278.0,2018-02-21T20:09:10,busy,NaN,1969-12-31T18:00:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,,NaN,service,NaN,NaN

In [80]:
df[~pd.isna(df["discard_reason"])].tail(1) # discard_reason, duration_seconds is for phone_call

,action,actor,actor_id,date,discard_reason,duration_seconds,edited,file,forwarded_from,from,...,mime_type,photo,reply_to_message_id,score,sticker_emoji,text,thumbnail,type,via_bot,width
140914,phone_call,Vincent Xu,201564278.0,2018-02-21T20:09:10,busy,NaN,1969-12-31T18:00:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,,NaN,service,NaN,NaN

In [74]:
df[~pd.isna(df["edited"])][["text","edited"]].head(5) # edited: messged edited time, default value is UTC=0?

  text               edited
0       1969-12-31T18:00:00
1       1969-12-31T18:00:00
2       1969-12-31T18:00:00
3       1969-12-31T18:00:00
4       1969-12-31T18:00:00

In [39]:
df[~pd.isna(df["game_description"])][["game_description","game_link","game_message_id","game_title"]].head(5)

,game_description,game_link,game_message_id,game_title
38682,Dodge the cannonballs and collect the gold to ...,https://t.me/gamebot?game=Corsairs,NaN,Corsairs
38964,Show your math skills! How high can you score?,https://t.me/gamebot?game=MathBattle,NaN,Math Battle

In [66]:
df[~pd.isna(df["reply_to_message_id"])][["reply_to_message_id"]].head(5)

        reply_to_message_id
91880               97380.0
94747              100606.0
103421             109326.0
134720             142341.0
135735             142996.0

In [81]:
df[~pd.isna(df["location_information"])][["location_information","date"]].tail(3)

                                    location_information                 date
143594  {'latitude': 42.256466, 'longitude': -71.757395}  2018-03-09T12:36:29
143598  {'latitude': 42.261551, 'longitude': -71.794945}  2018-03-09T12:46:55
177482  {'latitude': 29.753967, 'longitude': -95.357915}  2018-09-28T19:10:02

In [82]:
df[~pd.isna(df["height"])][["media_type", "width","sticker_emoji"]].head(3)

  media_type  width sticker_emoji
0    sticker  512.0             😭
1    sticker  512.0             😵
2    sticker  512.0             😎

In [60]:
df.groupby("media_type")["media_type"].count().sort_values(ascending = False)

media_type
sticker          13188
voice_message      105
video_file          71
animation           36
audio_file           3
Name: media_type, dtype: int64

In [76]:
df[~pd.isna(df["photo"])][["photo","date"]].tail(5)

                                                    photo                 date
204299  chats/chat_1/photos/photo_5791@16-05-2019_23-3...  2019-05-16T23:35:37
204462  chats/chat_1/photos/photo_5792@17-05-2019_13-2...  2019-05-17T13:26:30
204470  chats/chat_1/photos/photo_5793@17-05-2019_17-2...  2019-05-17T17:25:16
204497  chats/chat_1/photos/photo_5794@17-05-2019_20-2...  2019-05-17T20:25:24
204521  chats/chat_1/photos/photo_5795@17-05-2019_20-4...  2019-05-17T20:40:21

In [65]:
df[~pd.isna(df["thumbnail"])]["thumbnail"].head(5)

0    (File not included. Change data exporting sett...
1    (File not included. Change data exporting sett...
2    (File not included. Change data exporting sett...
3    (File not included. Change data exporting sett...
4    (File not included. Change data exporting sett...
Name: thumbnail, dtype: object

In [64]:
df.groupby("type")["type"].count().sort_values(ascending = False)

type
message    204518
service         7
Name: type, dtype: int64

In [57]:
df.groupby("sticker_emoji")["sticker_emoji"].count().sort_values(ascending = False)

sticker_emoji
❤     688
☺️    654
😢     582
😭     580
😁     468
😘     431
😍     420
😌     405
😧     374
😐     372
😒     307
😞     301
😕     284
😊     283
🙂     263
😳     256
😂     238
😟     223
🙄     207
☹     192
🤔     188
😝     181
😶     180
😏     177
😜     165
😔     162
👶     155
😠     150
😥     147
😋     143
     ...
💻       2
😪       2
😾       2
😼       2
☝       2
☘       2
💄       2
🐰       2
👽       1
🛍       1
🎤       1
✌       1
✂       1
☠       1
💥       1
👇       1
📷       1
🎵       1
🐸       1
🙌       1
🌙       1
🐤       1
🌞       1
🙆       1
🌺       1
🍌       1
🍷       1
🍹       1
😹       1
🎌       1
Name: sticker_emoji, Length: 183, dtype: int64

In [75]:
df[(df["text"]!="")][["id","date","from","from_id","text"]].tail(5) # from, from_id: message from

,id,date,from,from_id,text
204519,214802,2019-05-17T20:33:07,Vincent Xu,201564278.0,啊 那我现在先把data搞下来
204520,214803,2019-05-17T20:39:55,Vincent Xu,201564278.0,"hmmm,为什么我的桌面telegram没有export的这个选项。。"
204522,214805,2019-05-17T20:40:27,Vincent Xu,201564278.0,居然有两个telegram。。。
204523,214806,2019-05-17T20:40:30,Vincent Xu,201564278.0,跪了。。
204524,214807,2019-05-17T20:40:57,Mi Feng,161952255.0,噗。。。